<h2 id="title">Ember cli filepicker Demo</h2>

{{#if showFilePicker}}
{{ember-filepicker onSelection='fileSelected' onClose='onClose' onError='onError'}}
{{/if}}
<button {{action 'showPicker'}}>Choose file</button>
{{outlet}}
